{% extends 'global/base.html' %}
{% load static %}
{% block content %}
<section id='home' class='content'>
    <div class="title_info">
        <h3>Hi, my name is</h3>
        <h1>Philip Persan</h1>
        <h2>And i'm a Backend Developer</h2>
        <ul>
            <li>GitHub</li>
            <li>Linkedin</li>
            <li>Instagram</li>
        </ul>
        <a href="">Download CV</a>
    </div>
    <div class="img_profile">
        <img src="https://images.pexels.com/photos/810775/pexels-photo-810775.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
    </div>
</section>
<section id='about' class='content'>
    <h1>Section 2</h1>
</section>
<section id='skills' class='content'>
    <h1>Section 3</h1>
</section>
<section id='portfolio' class='content'>
    <h1>Section 4</h1>
</section>
<section id='contact' class='content'>
    <h1>Section 5</h1>
</section>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}